body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

#code-input {
    display: block;
    width: 80vw;
    min-height: 40vh; /* fix not resizing */
    max-height: 75vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    resize: none;
    
}

#output-container {
    background-color: black;
    height: 51vh;
    right: 0;
    bottom: 0;
}

#score {
    right: 7.6vw;
    top: 9vh;
    padding: 0.5vh;
    font-size: 1.5em;
    color: #333;
}

#submit-button {
    height: 5vh;
    width: 8vw; /* used to be 6vw */
    margin-left: 46vw;
    margin-top: 2vh;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-button:hover {
    background-color: #0056b3;
}

#title {
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-top: 3vh;
}